@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Hedvig+Letters+Serif:opsz@12..24&family=IBM+Plex+Serif&family=Philosopher&family=Raleway:wght@200&display=swap');

h2 {
    font-family: 'IBM Plex Serif';
    text-align: center;
    color:  blanchedalmond;    
}